/* styling for "sizes" dropdown */

.size {
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.size span {
  padding: 0 5%;
}

.App-header .add-to-cart-wrapper .features-wrapper span {
  padding-top: 3.6px;
}

.dropdown {
  max-width: 100%;
  user-select: none;
  
}
.dropdown-content {
  width: 100%;
  height: 20vh;
  margin-top: 6px;
  background-color: white;
  position: relative;
  z-index: 5;
  /* box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06); */

}

.size-item {
  width: 100vh;
  border: 1px solid rgb(75, 75, 75);
  height: 30px;
  background-color: #f7f7f7;
  color: black;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s;
 
}

.size-item:hover{
  /* background-color: #f2d9a6; */
  background-color: rgb(52, 52, 52);
  color: white;
  /* color: black; */
}

.dropdown-content > .size-item:nth-child(1),
.dropdown-content > .size-item:nth-child(2),
.dropdown-content > .size-item:nth-child(3),
.dropdown-content > .size-item:nth-child(4),
.dropdown-content > .size-item:nth-child(5) {
  border-bottom: 1px solid white;
}

.size-item > p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
  font-size: 70%;
}

.selected {
  margin-top: 7px;
  font-size: 85%;
  position: relative;
  left: -4.2%;
}

/* MEDIA QUERY  */

@media(max-width: 850px) {
  
  .add-to-cart-wrapper {
    width: 90%;
    margin-top: 0;
  }

  .dropdown-content > .size-item:nth-child(1),
  .dropdown-content > .size-item:nth-child(2),
  .dropdown-content > .size-item:nth-child(3),
  .dropdown-content > .size-item:nth-child(4),
  .dropdown-content > .size-item:nth-child(5),
  .dropdown-content > .size-item:nth-child(6) {
    font-size: 0.7rem;
  }

  

}