.modal-container {
  width: 100%;
  background-color: #f7f7f7;
  padding-top: 40px;
  cursor: zoom-out;
  position: absolute;
  top: 0;
  /* display: none; */
  z-index: 100;
  overflow: hidden;
  transition: all 0.2s;
  /* border: 1px solid grey;  */ 
}

.image-wrapper {
  width: 100%;
  margin-left: -2.5%;
  margin-right: 30%;
  margin-top: -50px;
  height: 100%;
}

img {
  width: 120%;
}

.close-btn {
  text-align: right;
  font-size: 2rem;
  color: gray;
  height: 3vh;
  font-weight: 100;
  position: absolute;
  top: 5px;
  right: 3%;
  padding: -1%;
  padding-bottom: 1%;
  cursor: pointer;
  /* border: 1px solid gray; */
}
/* .image {
  margin-bottom: 5px;
} */