* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

p,
span {
  font-weight: 300;
  font-size: 107%;
}
.App {
  width: 100%;
}

.App-header {
  background-color: #f7f7f7;
  letter-spacing: 0.06rem;
}

.header-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.text-image {
  display: flex;
  
}

.top-images img {
  z-index: -100;
}


.top-image-1 {
  cursor:zoom-in;
}

.top-description,
.add-to-cart-wrapper {
  margin-top: 150px;
}


/* TOP DESCRIPTION STYLES */

.top-description {
  width: 50%;
  max-height: 100vh;
  position: relative;
  z-index: 50;
  margin-top: 190px;
}

.top-description p {
  margin-bottom: 20px;
  line-height: 1.9rem;
}

.top-description p:first-child {
  font-family: 'Bodoni Moda', serif;
  width: 100%;
  font-size: 80px;
  font-weight: 800;
  letter-spacing: -0.4rem;
  word-spacing: -0.9rem;
  margin-bottom: 70px;
  padding-left: 0; 
}


/* .top-description > p {
 font-size: 105%;
} */

/* ADD TO CART STYLES */

.add-to-cart-wrapper p:first-child {

  letter-spacing: 0.1rem;
  
} 
.add-to-cart-wrapper {
  width: 30%;
}
div.add-to-cart-wrapper > * {
  margin-bottom: 20px;
}


/* FEATURES STYLES */

.features-wrapper > div:nth-child(1),
.features-wrapper > div:nth-child(2),
.features-wrapper > div:nth-child(3) {
border: 1px solid black;
padding: 0 0%;
  margin-bottom: 18px;
  height: 30px;
}

/* Add to Cart */

div.features-wrapper ~ div {
  border: 1px solid black;
  text-align: center;
  padding: 1.5% 3%;
  font-weight: bold;
  color: white;
  background-color: black;
  cursor: pointer;
 
}

div.features-wrapper ~ div + p {
  text-align: justify;
  text-decoration: underline;
  cursor: pointer;
}

/* f00c */

.size-question {
  font-size: 40%;
  text-decoration: underline;
  cursor: pointer;
}

/* SIZE STYLES */


/* First & Second Section styles */
.main-container {
  width: 87%;
  margin: 0 auto;
}

.first-section {
  width: 100%;
  display: flex;
  margin-top: 3%;
}
.section1-card1 {
  padding-top: 12%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 3%;
}
.section1-card1,
.section1-card2 {
  width: 50%;
}

.sectionone-img-1 {
  width: 100%;
}

.card-img-descrip {
  margin-top: 25px;
  letter-spacing: 0.06rem;
  line-height: 1.4rem;
}
img {
  border-radius: 5px;
}
.card-img-descrip p:first-child {
  font-weight: 500;
  text-decoration: underline;
  display: inline;
  cursor: pointer;
}

.card-img-descrip p:nth-child(2) {
  font-size: 65%;
}

.section1-card2 {
  padding-top: 4%;
  padding-bottom: 10%;
  padding-left: 8%;
}

.sectionone-img-2 {
  width: 77%;
}
.second-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2-card {
  width: 43%;
}

.drop-symbol {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  display: inline-block;
  padding-left: 3px;
  vertical-align: middle;
  font-weight: 900;
}

/* MEDIA QUERY  */

@media(max-width: 950px) {
  .App {
    width: 100%;
  }
 
  .top-description,
  .add-to-cart-wrapper {
    margin-top: 160px;
  }
  .top-description p:first-child {
    font-size: 4rem;
  }
  /* .top-description p:first-child,
  .add-to-cart-wrapper p:first-child {
    font-size: 100%;
  } */
  .top-description {
    width: 55%;
    margin-left: 9%;
    margin-top: 100px;
    font-size: 110%;
    color: rgb(0, 0, 0);
    font-weight: 400;
  }
  .top-description p {
    line-height: 1.9rem;
  }
  .top-images img {
    margin-left: 2%;
  }
  .header-wrapper {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
  }
  .add-to-cart-wrapper {
    width: 90%;
    margin-top: 1.5rem;
  }
  .App-header {
    margin-bottom: 60px;
  }
}

@media (max-width: 780px) {
  .App-header {
    margin-top: 22vh;
  }
  .top-image-1 {
    margin-bottom: 90px;
  }
  .top-description p:first-child {
    font-size: 3rem;
  }
  .top-description {
    margin-top: 10vh;
    margin-bottom: 60px;
  }
  .text-image {
    width: 100%;
    height: 130vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: space-between;
  }
   .top-description {
     width: 90%;
     margin: 0 auto;
     margin-top: -40px;
     /* margin-left: 0; */
   }
   .main-container {
     width: 100%;
   }
   .first-section {
     width: 84%;
     margin: 0 auto;
     flex-direction: column;
   }
   .section1-card1, .section1-card2 {
     width: 100%;
     margin: 0;
     margin-bottom: 30px;
     padding: 0;
   }
 
   .sectionone-img-2 {
     width: 100%;
   } 
   .second-section {
     width: 100%;
   }
   .section2-card {
     width: 84%;
     margin: 30px auto;
   }
   
 }

@media(max-width: 695px) {
  
  .top-description {
    margin-top: 90px;
    
  }
  .top-description p {
    line-height: 1.6rem;
    font-size: 85%;
  }
}


@media (max-width: 608px) {
  .top-description p:first-child {
    font-size: 2.5rem;
  }
  .App-header {
    margin-top: 7vh;
  }
  .top-images {
    margin-top: 16%;
  }
}

@media (max-width: 563px) {
  .App-header {
    margin-top: -10vh;
  }
 .text-image {
   width: 100%;
   height: 125vh;
   display: flex;
   flex-direction: column-reverse;
 }
  .top-description {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    /* margin-left: 0; */
  }
  .main-container {
    width: 100%;
  }
  .first-section {
    width: 84%;
    margin: 0 auto;
    flex-direction: column;
  }
  .section1-card1, .section1-card2 {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
  }

  .sectionone-img-2 {
    width: 100%;
  } 
  .second-section {
    width: 100%;
  }
  .section2-card {
    width: 84%;
    margin: 30px auto;
  }
  
}